<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.example.useenator.myrandomplayer"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!--<application-->
    <!--android:allowBackup="true"-->
    <!--android:icon="@mipmap/ic_launcher"-->
    <!--android:label="@string/app_name"-->
    <!--android:supportsRtl="true"-->
    <!--android:theme="@style/AppTheme">-->
    <!--<activity android:name=".MainActivity">-->
    <!--<intent-filter>-->
    <!--<action android:name="android.intent.action.MAIN"/>-->

    <!--<category android:name="android.intent.category.LAUNCHER"/>-->
    <!--</intent-filter>-->
    <!--</activity>-->
    <!--</application>-->


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

        <activity
            android:name=".MainActivity"
            android:label="v@string/app_title"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".MusicService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.android.musicplayer.action.TOGGLE_PLAYBACK"/>
                <action android:name="com.example.android.musicplayer.action.PLAY"/>
                <action android:name="com.example.android.musicplayer.action.PAUSE"/>
                <action android:name="com.example.android.musicplayer.action.SKIP"/>
                <action android:name="com.example.android.musicplayer.action.REWIND"/>
                <action android:name="com.example.android.musicplayer.action.STOP"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.example.android.musicplayer.action.URL"/>
                <data android:scheme="http"/>
            </intent-filter>
        </service>

        <receiver android:name=".MusicIntentReceiver">
            <intent-filter>
                <action android:name="android.media.AUDIO_BECOMING_NOISY"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
